.itemDetails {
    display: inline;
    
}
.itemDetails button {
   width: 400px;
  background-color:#0d6efd;
  display: flex;
  justify-content: center;
}

.itemM{
    display: inline-block;
}

.itemM button {
    display: none;
}

.tarjeta {
    display: contents;
    margin: auto;
    
}

.tipo-letra {
    font-weight: bold;
    background-color: #0d6efd;
    color: white;
}

.itemDetails img {
    width: auto;
    height: 380px;
    padding-top: 15px;
    object-fit: cover;
}

