.itemDetails {
    display: inline;
    
    
}
.itemM{
    display: inline-block;
}

.itemM button {
    display: none;
}

.tipo-letra {
    font-weight: bold;
}

.itemDetails img {
    width: auto;
    height: 380px;
    padding-top: 15px;
    object-fit: cover;
}