/* .ItemCarro {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 15px;
    width: 80%;
    margin: auto;
    flex-direction: row;
}

.ItemCarro img{
    width: auto;
    height: 380px;
    padding-top: 15px;
    object-fit: cover;
} */