.itemList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-evenly;
    gap: 15px;
}

.itemList img {
    width: 100%;
    height: 380px;
    padding-top: 15px;
    object-fit: cover;
}