.itemList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-evenly;
    gap: 79px;
}

.itemList img {
    width: 387px;
    height: 704px;
    /* padding-top: 79px; */
    object-fit: cover;
}